################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DML/.vs/DML/v15/Server/sqlite3
